@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.subtitle {
    font-style: italic;
    font-size:32px;
    display: block; /* Ensures the subtitle is on a new line */
}

h1 {
    display: block; /* Ensures the heading is on a new line */
}

body {
    background-color: #262626;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Ensures the content elements are arranged in a column */
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 52px;
}

.footer {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: 10px 0;
}
